.desktop-5,
.desktop-5 * {
  box-sizing: border-box;
}
.desktop-5 {
  background: #ffffff;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-1952 {
  display: flex;
  flex-direction: column;
  gap: 79px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 391px);
  top: calc(50% - 270px);
}
.hi-this-is {
  color: #000000;
  text-align: center;
  font: 400 128px "Lato", sans-serif;
  position: relative;
}
.swagato-basu-ms-in-hci {
  color: #000000;
  text-align: center;
  font: 400 128px "Lato", sans-serif;
  position: relative;
}
